.container7 {
    color: #616670;
    padding: 70px 0 65px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
}

.wszystko {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tab1,
.tab2,
.tab3 {
    width: 18%;
    -webkit-box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
    height: auto;
    border-radius: 8px;
    position: relative;
    margin: 0 5rem;
    bottom: 0;
    overflow: hidden;
    transition: 0.5s;
}

.tab1 .tab2,
h4 {
    color: #616670;
    font-size: 25px;
    text-transform: uppercase;
}

.tab2 {
    top: 0;
}

.tab3 {
    bottom: 0;
}

.tab1 .tab2 .tab3,
strong {
    color: #616670;
    font-weight: bold;
    font-size: 18px;
}

.tab1 .tab2 .tab3,
p {
    color: white;
    font-size: 15px;
}

.tab1:hover {
    bottom: 15px;
}

.tab3:hover {
    bottom: 15px;
}

.tab2:hover {
    top: 15px;
}


.pasekSmieszny {
    width: 75%;
    margin: 16px auto;
    border-radius: 5px;
    border-bottom: 5px white solid;
}



.tab1 img {
    width: 100%;
    height: auto;
}

.tab2 img {
    width: 100%;
    height: auto;
}

.tab3 img {
    width: 100%;
    height: auto;
}



.mediaContent {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0.10));
    text-align: left;
    padding: 35px 27px 25px 30px;
}


.wszystko {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
}

.typuHeader h3 {
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px;
}

.typuHeader p {
    font-size: 14px;
    margin-top: 0;
    color: white;
    margin-bottom: 20px;
    line-height: 24px;
}

.taby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1275px) {
    .taby {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: max-content;

    }

    .tab1,
    .tab2,
    .tab3 {
        width: 30%;
        height: min-content;
        margin: 25px;
    }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
    .taby {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: max-content;

    }

    .tab1,
    .tab2,
    .tab3 {
        width: 70%;
        height: min-content;
        margin: 25px;
    }

}