@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');

* {
    font-family: Poppins;
    box-sizing: border-box;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}




nav {
    position: sticky;
    width: 100%;
    height: 8vh;
    font-size: 1.2rem;
    top: 0;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* Dodaj top: 0, aby nawigacja była przylepiona na górze */
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    flex-direction: column;
    padding: 1rem;
    display: flex;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
        text-align: center;
    }
}